{
	"parser": "babel-eslint",
	"settings": {
		"react" : {
			"version" : "detect"
		}
	},
    "env": {
        "browser": true,
		"es2020": true,
		"node" : true
    },
    "extends": [
        "eslint:recommended",
		"plugin:react/recommended"
	],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": [
        "react"
	],
    "rules": {
		"no-useless-escape" :"off",
		"react/display-name" : "off",
		"react/prop-types" : [
			"error", { 
				"ignore": [
					"children"
				] 
			}
		],
        "react/jsx-curly-spacing": [
            "error", 
            {
                "children": { "when": "always" },
                "allowMultiline" : true
            }
        ],
		"space-before-function-paren": [
			"error", 
			"always"
		],
		"keyword-spacing" : [
			"error", 
			{
				"before" : true,
				"after" : true
			}
		],
 		"eol-last": [
			"error", 
			"never"
		],
        "indent": [
            "error",
            4
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
		"no-multi-spaces" : "error",
		"no-multiple-empty-lines" : [
			"error",
			{ 
				"max": 1
			}
		],
        "arrow-spacing" : "error",
        "block-spacing" : "error",
        "comma-spacing" : "error",
        "array-bracket-spacing" : [
            "error", 
            "always"
        ],
        "object-curly-spacing" : [
            "error", "always"
        ]
    }
}